* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "DM Sans", "Roboto", "Poppins", sans-serif;
}

.container {
  height: 100vh;
  min-width: 100vh;
  background: #fafafa;
  transition: 0.3s;
}

.container.dark {
  background: #222;
}