* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  font-family: 'DM Sans', 'Roboto', 'Poppins', sans-serif;
}

.container {
  height: 100vh;
  min-width: 100vh;
  background: #d4d7e6;
}

.link {
  color: black;
  text-decoration: none;
}

.manager-inputs select {
  margin-top: 5px;
  height: 38px;
}

.container.dark {
  background: #1b2431;
}

/* Common loading screen styles */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white; /* Default text color for dark mode */
  z-index: 9999;
}

/* Spinner styles */
.loading-screen .spinner {
  border: 8px solid #f3f3f3; /* Light color */
  border-top: 8px solid #3498db; /* Spinner color */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

/* Default (dark) mode styles */
.loading-screen {
  background-color: #1b2431; /* Dark background */
}

/* Light mode styles */
.container.light .loading-screen {
  background-color: #ffffff; /* Light background */
  color: black; /* Text color for light mode */
}

.container.light .loading-screen .spinner {
  border: 8px solid #ccc; /* Light spinner color */
  border-top: 8px solid #3498db; /* Spinner color */
}
