* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  list-style: none;
  font-family: 'DM Sans', 'Roboto', 'Poppins', sans-serif;
  transition: 0.15s;
}

.container {
  height: 100vh;
  min-width: 100vh;
  background: #f4f3f3;
  transition: 0.15s;
}

.container.dark {
  background: #262626;
}
